body{
	background-color: hsl(218, 23%, 16%) ;
}
.container{
	text-align: center;
	background-color:  hsl(217, 19%, 24%);
	padding: 20px;
	display: inline-block;
	border-radius: 10px;
	margin: 100px 30%;
	color: hsl(193, 38%, 86%) ;
	font-family: 'Manrope', sans-serif;

}
img{
	
}
.dice{
	background-color:hsl(150, 100%, 66%) ;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin:30px auto -40px auto;
}
.dice img{
	margin-top: 12px;
}
h3{
	color: hsl(150, 100%, 66%);
}